USE [master]
GO
/****** Object:  Database [SchoolInventoryManagement]    Script Date: 09/24/2026 3:59:27 am ******/
CREATE DATABASE [SchoolInventoryManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SchoolInventoryManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SchoolInventoryManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SchoolInventoryManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SchoolInventoryManagement_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SchoolInventoryManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SchoolInventoryManagement]
GO
/****** Object:  Table [dbo].[AssetAssignments]    Script Date: 09/24/2026 3:59:27 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetAssignments](
	[AssignmentID] [int] IDENTITY(1,1) NOT NULL,
	[AssetID] [int] NOT NULL,
	[AssignedToUserID] [int] NOT NULL,
	[AssignedByUserID] [int] NOT NULL,
	[AssignmentDate] [datetime] NOT NULL,
	[ConditionOnAssignment] [varchar](30) NOT NULL,
	[ReturnDate] [datetime] NULL,
	[ConditionOnReturn] [varchar](30) NULL,
	[Remarks] [varchar](500) NULL,
	[RowVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetMovements]    Script Date: 09/24/2026 3:59:27 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetMovements](
	[MovementID] [int] IDENTITY(1,1) NOT NULL,
	[AssetID] [int] NOT NULL,
	[SourceLocationID] [int] NULL,
	[DestinationLocationID] [int] NOT NULL,
	[MovedByUserID] [int] NOT NULL,
	[DateMoved] [datetime] NOT NULL,
	[ReasonForTransfer] [varchar](500) NOT NULL,
	[ConditionOnTransfer] [varchar](30) NULL,
	[Notes] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MovementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetRequests]    Script Date: 09/24/2026 3:59:27 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[RequestedByUserID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[AssetID] [int] NULL,
	[RequestedLocationID] [int] NULL,
	[RequestType] [varchar](20) NOT NULL,
	[RequestDate] [datetime] NOT NULL,
	[Reason] [varchar](500) NULL,
	[RequestStatus] [varchar](20) NOT NULL,
	[ApprovedByUserID] [int] NULL,
	[ApprovalDate] [datetime] NULL,
	[Remarks] [varchar](500) NULL,
	[RowVersion] [timestamp] NOT NULL,
	[ModelID] [int] NULL,
	[NeededFrom] [datetime2](7) NULL,
	[ReturnBy] [datetime2](7) NULL,
	[PickupLocationID] [int] NULL,
	[AssignedDate] [datetime2](7) NULL,
	[ReturnedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assets]    Script Date: 09/24/2026 3:59:27 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assets](
	[AssetID] [int] IDENTITY(1,1) NOT NULL,
	[AssetCode] [varchar](50) NOT NULL,
	[AssetName] [varchar](150) NOT NULL,
	[Description] [varchar](500) NULL,
	[SerialNumber] [varchar](100) NULL,
	[AcquisitionDate] [date] NULL,
	[AcquisitionCost] [decimal](12, 2) NULL,
	[WarrantyInformation] [varchar](255) NULL,
	[ImageURL] [varchar](500) NULL,
	[QRCodeData] [varchar](255) NULL,
	[Condition] [varchar](30) NOT NULL,
	[Status] [varchar](30) NOT NULL,
	[CurrentLocationID] [int] NULL,
	[AssignedUserID] [int] NULL,
	[DepartmentID] [int] NULL,
	[BranchID] [int] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[ModelID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 09/24/2026 3:59:27 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ActionPerformed] [varchar](100) NOT NULL,
	[TargetAssetID] [int] NULL,
	[LogDateTime] [datetime] NOT NULL,
	[Description] [varchar](500) NULL,
	[IPAddress] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 09/24/2026 3:59:27 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [varchar](100) NOT NULL,
	[Address] [varchar](255) NULL,
	[ContactInfo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 09/24/2026 3:59:27 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 09/24/2026 3:59:27 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[BranchID] [int] NOT NULL,
	[DepartmentName] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DisposalRecords]    Script Date: 09/24/2026 3:59:27 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisposalRecords](
	[DisposalID] [int] IDENTITY(1,1) NOT NULL,
	[AssetID] [int] NOT NULL,
	[DisposalDate] [datetime] NOT NULL,
	[ReasonForDisposal] [varchar](500) NOT NULL,
	[DisposalMethod] [varchar](100) NOT NULL,
	[ApprovedByUserID] [int] NOT NULL,
	[SupportingDocumentationURL] [varchar](500) NULL,
	[Notes] [varchar](500) NULL,
	[RestoredDate] [datetime] NULL,
	[RestoredByUserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DisposalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 09/24/2026 3:59:27 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[BranchID] [int] NOT NULL,
	[LocationName] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Models]    Script Date: 09/24/2026 3:59:27 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[ModelID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ModelName] [varchar](150) NOT NULL,
	[Description] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewItemRequests]    Script Date: 09/24/2026 3:59:27 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewItemRequests](
	[NewItemRequestID] [int] IDENTITY(1,1) NOT NULL,
	[RequestedByUserID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[ItemName] [nvarchar](150) NOT NULL,
	[CategoryID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[Specifications] [nvarchar](500) NULL,
	[Reason] [nvarchar](500) NULL,
	[NeededBy] [datetime2](7) NULL,
	[RequestDate] [datetime] NOT NULL,
	[RequestStatus] [varchar](20) NOT NULL,
	[ReviewedByUserID] [int] NULL,
	[ReviewDate] [datetime] NULL,
	[Remarks] [nvarchar](500) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_NewItemRequests] PRIMARY KEY CLUSTERED 
(
	[NewItemRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 09/24/2026 3:59:27 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Message] [varchar](255) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ActionURL] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 09/24/2026 3:59:27 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09/24/2026 3:59:27 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[BranchID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AssetAssignments] ON 

INSERT [dbo].[AssetAssignments] ([AssignmentID], [AssetID], [AssignedToUserID], [AssignedByUserID], [AssignmentDate], [ConditionOnAssignment], [ReturnDate], [ConditionOnReturn], [Remarks]) VALUES (1, 1, 6, 1, CAST(N'2026-09-24T02:24:44.890' AS DateTime), N'Good', CAST(N'2026-09-24T03:00:17.800' AS DateTime), N'Excellent', NULL)
INSERT [dbo].[AssetAssignments] ([AssignmentID], [AssetID], [AssignedToUserID], [AssignedByUserID], [AssignmentDate], [ConditionOnAssignment], [ReturnDate], [ConditionOnReturn], [Remarks]) VALUES (2, 3, 6, 1, CAST(N'2026-09-24T02:59:57.643' AS DateTime), N'Excellent', NULL, NULL, NULL)
INSERT [dbo].[AssetAssignments] ([AssignmentID], [AssetID], [AssignedToUserID], [AssignedByUserID], [AssignmentDate], [ConditionOnAssignment], [ReturnDate], [ConditionOnReturn], [Remarks]) VALUES (3, 2, 6, 1, CAST(N'2026-09-24T03:26:20.393' AS DateTime), N'Excellent', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AssetAssignments] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetMovements] ON 

INSERT [dbo].[AssetMovements] ([MovementID], [AssetID], [SourceLocationID], [DestinationLocationID], [MovedByUserID], [DateMoved], [ReasonForTransfer], [ConditionOnTransfer], [Notes]) VALUES (1, 3, 1, 2, 1, CAST(N'2026-09-24T02:21:34.600' AS DateTime), N'Transfer request #1', N'New', NULL)
INSERT [dbo].[AssetMovements] ([MovementID], [AssetID], [SourceLocationID], [DestinationLocationID], [MovedByUserID], [DateMoved], [ReasonForTransfer], [ConditionOnTransfer], [Notes]) VALUES (2, 3, 2, 1, 1, CAST(N'2026-09-24T03:00:04.213' AS DateTime), N'Transfer request #3: delivered', NULL, NULL)
INSERT [dbo].[AssetMovements] ([MovementID], [AssetID], [SourceLocationID], [DestinationLocationID], [MovedByUserID], [DateMoved], [ReasonForTransfer], [ConditionOnTransfer], [Notes]) VALUES (3, 1, NULL, 2, 1, CAST(N'2026-09-24T03:00:17.820' AS DateTime), N'Returned from assignment #1', N'Excellent', NULL)
SET IDENTITY_INSERT [dbo].[AssetMovements] OFF
GO
SET IDENTITY_INSERT [dbo].[AssetRequests] ON 

INSERT [dbo].[AssetRequests] ([RequestID], [RequestedByUserID], [DepartmentID], [AssetID], [RequestedLocationID], [RequestType], [RequestDate], [Reason], [RequestStatus], [ApprovedByUserID], [ApprovalDate], [Remarks], [ModelID], [NeededFrom], [ReturnBy], [PickupLocationID], [AssignedDate], [ReturnedDate]) VALUES (1, 6, 2, 3, 2, N'Transfer', CAST(N'2026-09-24T02:20:42.003' AS DateTime), NULL, N'Fulfilled', 1, CAST(N'2026-09-24T02:21:34.490' AS DateTime), NULL, 4, CAST(N'2026-09-24T04:20:00.0000000' AS DateTime2), CAST(N'2026-09-25T06:20:00.0000000' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[AssetRequests] ([RequestID], [RequestedByUserID], [DepartmentID], [AssetID], [RequestedLocationID], [RequestType], [RequestDate], [Reason], [RequestStatus], [ApprovedByUserID], [ApprovalDate], [Remarks], [ModelID], [NeededFrom], [ReturnBy], [PickupLocationID], [AssignedDate], [ReturnedDate]) VALUES (2, 6, 2, NULL, NULL, N'Borrow', CAST(N'2026-09-24T02:24:25.720' AS DateTime), NULL, N'Fulfilled', 1, CAST(N'2026-09-24T02:24:44.853' AS DateTime), NULL, 4, CAST(N'2026-09-24T03:24:00.0000000' AS DateTime2), CAST(N'2026-09-25T04:24:00.0000000' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AssetRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Assets] ON 

INSERT [dbo].[Assets] ([AssetID], [AssetCode], [AssetName], [Description], [SerialNumber], [AcquisitionDate], [AcquisitionCost], [WarrantyInformation], [ImageURL], [QRCodeData], [Condition], [Status], [CurrentLocationID], [AssignedUserID], [DepartmentID], [BranchID], [ModelID]) VALUES (1, N'ASAHIFAN-0001', N'Asahi Stand Fan with Plastic Blade 16 in - Unit 1', NULL, NULL, CAST(N'2026-09-16' AS Date), CAST(2318.00 AS Decimal(12, 2)), NULL, NULL, NULL, N'Excellent', N'InTransit', 2, 6, 2, 1, 4)
INSERT [dbo].[Assets] ([AssetID], [AssetCode], [AssetName], [Description], [SerialNumber], [AcquisitionDate], [AcquisitionCost], [WarrantyInformation], [ImageURL], [QRCodeData], [Condition], [Status], [CurrentLocationID], [AssignedUserID], [DepartmentID], [BranchID], [ModelID]) VALUES (2, N'ASAHIFAN-0002', N'Asahi Stand Fan with Plastic Blade 16 in - Unit 2', NULL, NULL, CAST(N'2026-09-16' AS Date), CAST(2318.00 AS Decimal(12, 2)), NULL, NULL, NULL, N'Excellent', N'InTransit', 1, 6, 2, 1, 4)
INSERT [dbo].[Assets] ([AssetID], [AssetCode], [AssetName], [Description], [SerialNumber], [AcquisitionDate], [AcquisitionCost], [WarrantyInformation], [ImageURL], [QRCodeData], [Condition], [Status], [CurrentLocationID], [AssignedUserID], [DepartmentID], [BranchID], [ModelID]) VALUES (3, N'ASAHIFAN-0003', N'Asahi Stand Fan with Plastic Blade 16 in - Unit 3', NULL, NULL, CAST(N'2026-09-16' AS Date), CAST(2318.00 AS Decimal(12, 2)), NULL, NULL, NULL, N'Excellent', N'Assigned', 1, 6, 2, 1, 4)
SET IDENTITY_INSERT [dbo].[Assets] OFF
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([LogID], [UserID], [ActionPerformed], [TargetAssetID], [LogDateTime], [Description], [IPAddress]) VALUES (1, 1, N'Category Created', NULL, CAST(N'2026-09-23T23:38:08.730' AS DateTime), NULL, N'::1')
INSERT [dbo].[AuditLogs] ([LogID], [UserID], [ActionPerformed], [TargetAssetID], [LogDateTime], [Description], [IPAddress]) VALUES (2, 1, N'Category Created', NULL, CAST(N'2026-09-23T23:38:15.213' AS DateTime), NULL, N'::1')
INSERT [dbo].[AuditLogs] ([LogID], [UserID], [ActionPerformed], [TargetAssetID], [LogDateTime], [Description], [IPAddress]) VALUES (3, 1, N'Category Created', NULL, CAST(N'2026-09-23T23:38:21.200' AS DateTime), NULL, N'::1')
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([BranchID], [BranchName], [Address], [ContactInfo]) VALUES (1, N'Main Campus', N'M28Q+6M6, Faith, Project 8, Quezon City, Kalakhang Maynila', NULL)
INSERT [dbo].[Branches] ([BranchID], [BranchName], [Address], [ContactInfo]) VALUES (2, N'Ste Anne Annex', N'80 Rd 3, Project 6, Quezon City, 1100 Metro Manila', NULL)
INSERT [dbo].[Branches] ([BranchID], [BranchName], [Address], [ContactInfo]) VALUES (3, N'Ste Anne Special', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Branches] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Chairs', NULL)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Laptops', NULL)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (5, N'Electric Fans', NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [BranchID], [DepartmentName], [Description]) VALUES (1, 1, N'Administration', N'Default administrative department')
INSERT [dbo].[Departments] ([DepartmentID], [BranchID], [DepartmentName], [Description]) VALUES (2, 2, N'Highschool Department', NULL)
INSERT [dbo].[Departments] ([DepartmentID], [BranchID], [DepartmentName], [Description]) VALUES (3, 1, N'Elementary Department', NULL)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([LocationID], [BranchID], [LocationName], [Description]) VALUES (1, 1, N'Main Storage Room ', N'1st floor')
INSERT [dbo].[Locations] ([LocationID], [BranchID], [LocationName], [Description]) VALUES (2, 1, N'IT Room', N'1st floor')
INSERT [dbo].[Locations] ([LocationID], [BranchID], [LocationName], [Description]) VALUES (3, 1, N'Principals Office', N'1st floor')
SET IDENTITY_INSERT [dbo].[Locations] OFF
GO
SET IDENTITY_INSERT [dbo].[Models] ON 

INSERT [dbo].[Models] ([ModelID], [CategoryID], [ModelName], [Description]) VALUES (1, 1, N'Dutton Metal Folding Chair', NULL)
INSERT [dbo].[Models] ([ModelID], [CategoryID], [ModelName], [Description]) VALUES (2, 1, N'SO2 Student Chair', N'blue with armrest')
INSERT [dbo].[Models] ([ModelID], [CategoryID], [ModelName], [Description]) VALUES (3, 1, N'Renzo Chair without arm', NULL)
SET IDENTITY_INSERT [dbo].[Models] OFF
GO
SET IDENTITY_INSERT [dbo].[NewItemRequests] ON 

INSERT [dbo].[NewItemRequests] ([NewItemRequestID], [RequestedByUserID], [DepartmentID], [ItemName], [CategoryID], [Quantity], [Specifications], [Reason], [NeededBy], [RequestDate], [RequestStatus], [ReviewedByUserID], [ReviewDate], [Remarks]) VALUES (1, 6, 2, N'Tables', NULL, 1, NULL, N'Resting', CAST(N'2026-09-29T00:00:00.0000000' AS DateTime2), CAST(N'2026-09-24T03:35:56.310' AS DateTime), N'Approved', 1, CAST(N'2026-09-24T03:36:25.553' AS DateTime), NULL)
INSERT [dbo].[NewItemRequests] ([NewItemRequestID], [RequestedByUserID], [DepartmentID], [ItemName], [CategoryID], [Quantity], [Specifications], [Reason], [NeededBy], [RequestDate], [RequestStatus], [ReviewedByUserID], [ReviewDate], [Remarks]) VALUES (2, 6, 2, N'Couch', NULL, 1, NULL, N'Resting', CAST(N'2026-09-29T00:00:00.0000000' AS DateTime2), CAST(N'2026-09-24T03:35:56.310' AS DateTime), N'Rejected', 1, CAST(N'2026-09-24T03:36:34.110' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[NewItemRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Message], [IsRead], [CreatedAt], [ActionURL]) VALUES (1, 1, N'New Transfer request from Jomarie Callueng is awaiting approval.', 0, CAST(N'2026-09-24T02:20:42.070' AS DateTime), N'/AssetRequests/Details/1')
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Message], [IsRead], [CreatedAt], [ActionURL]) VALUES (2, 2, N'New Transfer request from Jomarie Callueng is awaiting approval.', 0, CAST(N'2026-09-24T02:20:42.080' AS DateTime), N'/AssetRequests/Details/1')
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Message], [IsRead], [CreatedAt], [ActionURL]) VALUES (3, 3, N'New Transfer request from Jomarie Callueng is awaiting approval.', 0, CAST(N'2026-09-24T02:20:42.080' AS DateTime), N'/AssetRequests/Details/1')
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Administrator')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Asset Officer')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (5, N'Department Head')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [RoleID], [DepartmentID], [BranchID], [FirstName], [LastName], [Email], [PasswordHash], [Status]) VALUES (1, 1, 1, 1, N'System', N'Administrator', N'Admin@sabs.edu.ph', N'AQAAAAIAAYagAAAAEOs1b6Y44UHaSworJhwJemrNMqgFgmzVXA7diFB/Ha+BQyx3J25Zynk/PEK1+VsnUA==', N'Active')
INSERT [dbo].[Users] ([UserID], [RoleID], [DepartmentID], [BranchID], [FirstName], [LastName], [Email], [PasswordHash], [Status]) VALUES (2, 1, 1, 1, N'Laurence', N'Mirandilla', N'LaurenceMirandilla@sabs.edu.ph', N'AQAAAAIAAYagAAAAELlUPX5VPhW2CfysKjJAqVPYokzdwQK+YiXRezhMrW37jI+dPsxOebz4Fxxb8EOKUQ==', N'Active')
INSERT [dbo].[Users] ([UserID], [RoleID], [DepartmentID], [BranchID], [FirstName], [LastName], [Email], [PasswordHash], [Status]) VALUES (3, 6, 1, 1, N'Jherome', N'Flores', N'JheromeFlores@sabs.edu.ph', N'AQAAAAIAAYagAAAAEC/rt1oky/Xh9oT3OmWTSkhKNQkebJQT555bRkAXL2SVYgO8HivuBfF7xbeh/bOD0w==', N'Active')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Assets__2DDE52400552341A]    Script Date: 09/24/2026 3:59:27 am ******/
ALTER TABLE [dbo].[Assets] ADD UNIQUE NONCLUSTERED 
(
	[AssetCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__8517B2E0957EA923]    Script Date: 09/24/2026 3:59:27 am ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NewItemRequests_RequestedByUserID]    Script Date: 09/24/2026 3:59:27 am ******/
CREATE NONCLUSTERED INDEX [IX_NewItemRequests_RequestedByUserID] ON [dbo].[NewItemRequests]
(
	[RequestedByUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NewItemRequests_Status_RequestDate]    Script Date: 09/24/2026 3:59:27 am ******/
CREATE NONCLUSTERED INDEX [IX_NewItemRequests_Status_RequestDate] ON [dbo].[NewItemRequests]
(
	[RequestStatus] ASC,
	[RequestDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160B772944E]    Script Date: 09/24/2026 3:59:27 am ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053420F12361]    Script Date: 09/24/2026 3:59:27 am ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AssetAssignments] ADD  DEFAULT (getdate()) FOR [AssignmentDate]
GO
ALTER TABLE [dbo].[AssetMovements] ADD  DEFAULT (getdate()) FOR [DateMoved]
GO
ALTER TABLE [dbo].[AssetRequests] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[AssetRequests] ADD  DEFAULT ('Pending') FOR [RequestStatus]
GO
ALTER TABLE [dbo].[Assets] ADD  DEFAULT ('Good') FOR [Condition]
GO
ALTER TABLE [dbo].[Assets] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [LogDateTime]
GO
ALTER TABLE [dbo].[DisposalRecords] ADD  DEFAULT (getdate()) FOR [DisposalDate]
GO
ALTER TABLE [dbo].[NewItemRequests] ADD  CONSTRAINT [DF_NewItemRequests_Quantity]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[NewItemRequests] ADD  CONSTRAINT [DF_NewItemRequests_RequestDate]  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[NewItemRequests] ADD  CONSTRAINT [DF_NewItemRequests_Status]  DEFAULT ('Pending') FOR [RequestStatus]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[AssetAssignments]  WITH CHECK ADD  CONSTRAINT [FK_AssetAssignments_Assets] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Assets] ([AssetID])
GO
ALTER TABLE [dbo].[AssetAssignments] CHECK CONSTRAINT [FK_AssetAssignments_Assets]
GO
ALTER TABLE [dbo].[AssetAssignments]  WITH CHECK ADD  CONSTRAINT [FK_AssetAssignments_AssignedBy] FOREIGN KEY([AssignedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AssetAssignments] CHECK CONSTRAINT [FK_AssetAssignments_AssignedBy]
GO
ALTER TABLE [dbo].[AssetAssignments]  WITH CHECK ADD  CONSTRAINT [FK_AssetAssignments_AssignedTo] FOREIGN KEY([AssignedToUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AssetAssignments] CHECK CONSTRAINT [FK_AssetAssignments_AssignedTo]
GO
ALTER TABLE [dbo].[AssetMovements]  WITH CHECK ADD  CONSTRAINT [FK_AssetMovements_Assets] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Assets] ([AssetID])
GO
ALTER TABLE [dbo].[AssetMovements] CHECK CONSTRAINT [FK_AssetMovements_Assets]
GO
ALTER TABLE [dbo].[AssetMovements]  WITH CHECK ADD  CONSTRAINT [FK_AssetMovements_DestinationLocation] FOREIGN KEY([DestinationLocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[AssetMovements] CHECK CONSTRAINT [FK_AssetMovements_DestinationLocation]
GO
ALTER TABLE [dbo].[AssetMovements]  WITH CHECK ADD  CONSTRAINT [FK_AssetMovements_MovedBy] FOREIGN KEY([MovedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AssetMovements] CHECK CONSTRAINT [FK_AssetMovements_MovedBy]
GO
ALTER TABLE [dbo].[AssetMovements]  WITH CHECK ADD  CONSTRAINT [FK_AssetMovements_SourceLocation] FOREIGN KEY([SourceLocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[AssetMovements] CHECK CONSTRAINT [FK_AssetMovements_SourceLocation]
GO
ALTER TABLE [dbo].[AssetRequests]  WITH CHECK ADD  CONSTRAINT [FK_AssetRequests_ApprovedBy] FOREIGN KEY([ApprovedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AssetRequests] CHECK CONSTRAINT [FK_AssetRequests_ApprovedBy]
GO
ALTER TABLE [dbo].[AssetRequests]  WITH CHECK ADD  CONSTRAINT [FK_AssetRequests_Assets] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Assets] ([AssetID])
GO
ALTER TABLE [dbo].[AssetRequests] CHECK CONSTRAINT [FK_AssetRequests_Assets]
GO
ALTER TABLE [dbo].[AssetRequests]  WITH CHECK ADD  CONSTRAINT [FK_AssetRequests_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[AssetRequests] CHECK CONSTRAINT [FK_AssetRequests_Departments]
GO
ALTER TABLE [dbo].[AssetRequests]  WITH CHECK ADD  CONSTRAINT [FK_AssetRequests_Locations] FOREIGN KEY([RequestedLocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[AssetRequests] CHECK CONSTRAINT [FK_AssetRequests_Locations]
GO
ALTER TABLE [dbo].[AssetRequests]  WITH CHECK ADD  CONSTRAINT [FK_AssetRequests_Models] FOREIGN KEY([ModelID])
REFERENCES [dbo].[Models] ([ModelID])
GO
ALTER TABLE [dbo].[AssetRequests] CHECK CONSTRAINT [FK_AssetRequests_Models]
GO
ALTER TABLE [dbo].[AssetRequests]  WITH CHECK ADD  CONSTRAINT [FK_AssetRequests_PickupLocation] FOREIGN KEY([PickupLocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[AssetRequests] CHECK CONSTRAINT [FK_AssetRequests_PickupLocation]
GO
ALTER TABLE [dbo].[AssetRequests]  WITH CHECK ADD  CONSTRAINT [FK_AssetRequests_RequestedBy] FOREIGN KEY([RequestedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AssetRequests] CHECK CONSTRAINT [FK_AssetRequests_RequestedBy]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Branches] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Branches]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Departments]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Locations] FOREIGN KEY([CurrentLocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Locations]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Models] FOREIGN KEY([ModelID])
REFERENCES [dbo].[Models] ([ModelID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Models]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Users] FOREIGN KEY([AssignedUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Users]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Assets] FOREIGN KEY([TargetAssetID])
REFERENCES [dbo].[Assets] ([AssetID])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Assets]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Users]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Branches] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Branches]
GO
ALTER TABLE [dbo].[DisposalRecords]  WITH CHECK ADD  CONSTRAINT [FK_DisposalRecords_ApprovedBy] FOREIGN KEY([ApprovedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[DisposalRecords] CHECK CONSTRAINT [FK_DisposalRecords_ApprovedBy]
GO
ALTER TABLE [dbo].[DisposalRecords]  WITH CHECK ADD  CONSTRAINT [FK_DisposalRecords_Assets] FOREIGN KEY([AssetID])
REFERENCES [dbo].[Assets] ([AssetID])
GO
ALTER TABLE [dbo].[DisposalRecords] CHECK CONSTRAINT [FK_DisposalRecords_Assets]
GO
ALTER TABLE [dbo].[DisposalRecords]  WITH CHECK ADD  CONSTRAINT [FK_DisposalRecords_RestoredBy] FOREIGN KEY([RestoredByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[DisposalRecords] CHECK CONSTRAINT [FK_DisposalRecords_RestoredBy]
GO
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [FK_Locations_Branches] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [FK_Locations_Branches]
GO
ALTER TABLE [dbo].[Models]  WITH CHECK ADD  CONSTRAINT [FK_Models_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Models] CHECK CONSTRAINT [FK_Models_Categories]
GO
ALTER TABLE [dbo].[NewItemRequests]  WITH CHECK ADD  CONSTRAINT [FK_NewItemRequests_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[NewItemRequests] CHECK CONSTRAINT [FK_NewItemRequests_Categories]
GO
ALTER TABLE [dbo].[NewItemRequests]  WITH CHECK ADD  CONSTRAINT [FK_NewItemRequests_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[NewItemRequests] CHECK CONSTRAINT [FK_NewItemRequests_Departments]
GO
ALTER TABLE [dbo].[NewItemRequests]  WITH CHECK ADD  CONSTRAINT [FK_NewItemRequests_Users_RequestedBy] FOREIGN KEY([RequestedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[NewItemRequests] CHECK CONSTRAINT [FK_NewItemRequests_Users_RequestedBy]
GO
ALTER TABLE [dbo].[NewItemRequests]  WITH CHECK ADD  CONSTRAINT [FK_NewItemRequests_Users_ReviewedBy] FOREIGN KEY([ReviewedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[NewItemRequests] CHECK CONSTRAINT [FK_NewItemRequests_Users_ReviewedBy]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Branches] FOREIGN KEY([BranchID])
REFERENCES [dbo].[Branches] ([BranchID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Branches]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Departments]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[AssetRequests]  WITH CHECK ADD  CONSTRAINT [CK_AssetRequests_DateOrder] CHECK  (([NeededFrom] IS NULL OR [ReturnBy] IS NULL OR [ReturnBy]>[NeededFrom]))
GO
ALTER TABLE [dbo].[AssetRequests] CHECK CONSTRAINT [CK_AssetRequests_DateOrder]
GO
ALTER TABLE [dbo].[AssetRequests]  WITH CHECK ADD  CONSTRAINT [CK_AssetRequests_RequestStatus] CHECK  (([RequestStatus]='Returned' OR [RequestStatus]='Assigned' OR [RequestStatus]='InTransit' OR [RequestStatus]='Cancelled' OR [RequestStatus]='Fulfilled' OR [RequestStatus]='Rejected' OR [RequestStatus]='Approved' OR [RequestStatus]='Pending'))
GO
ALTER TABLE [dbo].[AssetRequests] CHECK CONSTRAINT [CK_AssetRequests_RequestStatus]
GO
ALTER TABLE [dbo].[AssetRequests]  WITH CHECK ADD  CONSTRAINT [CK_AssetRequests_RequestType] CHECK  (([RequestType]='Transfer' OR [RequestType]='Borrow'))
GO
ALTER TABLE [dbo].[AssetRequests] CHECK CONSTRAINT [CK_AssetRequests_RequestType]
GO
ALTER TABLE [dbo].[AssetRequests]  WITH CHECK ADD  CONSTRAINT [CK_AssetRequests_TypeFieldRules] CHECK  (([RequestType]='Borrow' AND [ModelID] IS NOT NULL AND [RequestedLocationID] IS NULL OR [RequestType]='Transfer' AND [ModelID] IS NOT NULL AND [RequestedLocationID] IS NOT NULL))
GO
ALTER TABLE [dbo].[AssetRequests] CHECK CONSTRAINT [CK_AssetRequests_TypeFieldRules]
GO
ALTER TABLE [dbo].[NewItemRequests]  WITH CHECK ADD  CONSTRAINT [CK_NewItemRequests_Quantity] CHECK  (([Quantity]>=(1)))
GO
ALTER TABLE [dbo].[NewItemRequests] CHECK CONSTRAINT [CK_NewItemRequests_Quantity]
GO
ALTER TABLE [dbo].[NewItemRequests]  WITH CHECK ADD  CONSTRAINT [CK_NewItemRequests_Status] CHECK  (([RequestStatus]='Cancelled' OR [RequestStatus]='Fulfilled' OR [RequestStatus]='Rejected' OR [RequestStatus]='Approved' OR [RequestStatus]='Pending'))
GO
ALTER TABLE [dbo].[NewItemRequests] CHECK CONSTRAINT [CK_NewItemRequests_Status]
GO
USE [master]
GO
